@model CoreLayer.ViewModel.IndexViewModel
@{
    ViewBag.Title = "خانه";
}
<div class="machine-learning-slider owl-carousel owl-theme">
    <!-- Start Main Banner Area -->
    @{
        int CountGallery = 0;
    }
    @foreach (var galleryService in Model.GalleryService)
    {
        CountGallery++;



        <div class="machine-learning-banner ml-bg@(CountGallery) jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container mt-80">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="banner-content">
                                    <h1>@galleryService.Title</h1>
                                    <p>@((galleryService.Descripton.Length) > 500 ? galleryService.Descripton.Substring(0, 499) + " ..." : galleryService.Descripton)</p>

                                    <div class="banner-btn">
                                        <a href="javascript:void(0)" onclick="ModalService('@galleryService.Id')" class="default-btn mr-4">
                                            مشاهده بیشتر و درخواست <span></span>
                                        </a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Shape Images -->
            <div class="shape-img2"><img src="UserTamplate/img/shape/2.svg" alt="image"></div>
            <div class="shape-img3"><img src="UserTamplate/img/shape/3.svg" alt="image"></div>
            <div class="shape-img4"><img src="UserTamplate/img/shape/4.png" alt="image"></div>
            <div class="shape-img5"><img src="UserTamplate/img/shape/5.png" alt="image"></div>
            <div class="shape-img6"><img src="UserTamplate/img/shape/6.png" alt="image"></div>
            <div class="shape-img7"><img src="UserTamplate/img/shape/7.png" alt="image"></div>
            <div class="shape-img8"><img src="UserTamplate/img/shape/8.png" alt="image"></div>
            <div class="shape-img9"><img src="UserTamplate/img/shape/9.png" alt="image"></div>
            <div class="shape-img10"><img src="UserTamplate/img/shape/10.png" alt="image"></div>
        </div>


    }

    @if (Model.GalleryService.Count == 0)
    {
        <style>
            .navbar-area-two {
                background-color: black !important
            }
        </style>
    }

</div>
<!-- End Main Banner Area -->
<!-- Ml Services Area -->
<section id="Service" class="ml-services-area bg-f2f2f7 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">خدمات</span>
            <h2>خدمات حرفه ای ما برای شما</h2>
            <p>خدماتی که گروه ما برای شما قرار داده است، میتوانید با ثبت درخواست به ما اطلاع دهید.</p>
        </div>

        <div class="row">

            @if (Model.Service.Count != 0)
            {
                foreach (var service in Model.Service)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="ml-service">
                            <div class="image">
                                <img src="/Files/FileService/@service.Id/@(service.Id).png" alt="ServiceImage">
                            </div>
                            <h3><a href="javascript:void(0)">@service.Title</a></h3>
                            <p>@((service.Descripton.Length) > 100 ? service.Descripton.Substring(0, 99) + " ..." : service.Descripton)</p>
                            <a onclick="ModalService('@service.Id')" href="javascript:void(0)" class="read-more">
                                مشاهده بیشتر و درخواست
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="section-title">
                    <p class="MyPNot">خدمتی برای نمایش وجود ندارد وجود ندارد</p>
                </div>
            }

        </div>
    </div>
</section>
<!-- End Ml Services Area -->
<!-- Start Projects Area -->
<section id="WorkSample" class="projects-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"> نمونه کار ها</span>
            <h2>نمونه کار های ما</h2>
            <p>میتوانید با مشاهده نمونه کار های ما از کار کرد ما مطمئن شوید.</p>
        </div>
    </div>

    <div class="container">


        @if (Model.WorkSample.Count != 0)
        {
            <div class="row owl-theme">

                @foreach (var workSample in Model.WorkSample)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="work-card">
                            <img src="/Files/FileWorkSamples/@workSample.Id/@(workSample.Id).png" alt="WorkSampleImage">

                            <div class="content">
                                <span>
                                    <a href="#"> تاریخ انجام: @workSample.CreateTime.FixedDateTime()</a>
                                </span>
                                <h3>
                                    <a href="#">@workSample.Title</a>
                                </h3>

                                <a class="btn btn-outline-info" onclick="ModalWorkSample('@workSample.Id')" href="javascript:void(0)">مشاهده بیشتر</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <div class="section-title">
                <p class="MyPNot">نمونه کاری برای نمایش وجود ندارد وجود ندارد</p>
            </div>
        }


    </div>
</section>

<!-- End Projects Area -->
<!-- Pricing Area -->
<section id="Product" class="pricing-area-two pt-100 pb-70 bg-f4f7fe">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">محصولات</span>
            <h2>محصولات ما</h2>
            <p>می توانید با ثبت درخواست از محصولات به ما اطلاع دهید تا آن را به شما تحویل دهیم و برای مشاهده تمام محصولات دکمه مشاهده بیشتر را بزنید.</p>
            <a asp-action="Product" class="btn btn-sm btn-success text-white">مشاهده بیشتر</a>
        </div>

        <div class="row">

            @if (Model.Product.Count != 0)
            {
                @foreach (var Product in Model.Product)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-product-box">
                            <div class="product-image">
                                <a href="#">
                                    <img src="/Files/FileProducts/@Product.Id/@(Product.Id).png" alt="ProductImage">
                                    <img src="/Files/FileProducts/@Product.Id/@(Product.Id).png" alt="ProductImage">
                                </a>

                                <a onclick="ModalProduct('@Product.Id')" href="javascript:void(0)" class="add-to-cart-btn">مشاهده جزئیات بیشتر <i class="bx bx-detail"></i></a>
                            </div>

                            <div class="product-content ">
                                <h3><a href="javascript:void(0)">@Product.Name</a></h3>
                                <div class="price">
                                    <span class="new">@Product.Price.ToString().FixedPrice() تومان</span>
                                </div>
                            </div>
                            <div class="single-pricing-table">

                                @{
                                    string[] Propertys = Product.Propertys.Split("\n");
                                }

                                <ul class="pricing-features">

                                    <li>
                                        <i class='bx bx-badge-check @((Product.IsNew) == true ? "text-success" : "text-danger")'></i>
                                        وضعیت:
                                        @((Product.IsNew) == true ? "نو" : "دست دوم")
                                    </li>

                                    @foreach (var property in Propertys)
                                    {
                                        <li>
                                            <i class='bx bx-badge-check'></i>
                                            @property
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="section-title">
                    <p class="MyPNot">کالایی برای نمایش وجود ندارد وجود ندارد</p>
                </div>
            }

        </div>
    </div>

    <!-- Shape Images -->
    <div class="shape-img2"><img src="UserTamplate/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="UserTamplate/img/shape/3.svg" alt="image"></div>
    <div class="shape-img4"><img src="UserTamplate/img/shape/4.png" alt="image"></div>
    <div class="shape-img5"><img src="UserTamplate/img/shape/5.png" alt="image"></div>
    <div class="shape-img6"><img src="UserTamplate/img/shape/6.png" alt="image"></div>
    <div class="shape-img9"><img src="UserTamplate/img/shape/9.png" alt="image"></div>
    <div class="shape-img10"><img src="UserTamplate/img/shape/10.png" alt="image"></div>



</section>
<!-- End Pricing Area -->
<!-- About Us -->
<section id="About" class="choose-area-two pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="section-title text-left">
                        <span class="sub-title">درباره ما</span>
                        <h2>@Model.About.Title</h2>

                        <p>@Model.About.Description</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="choose-image">
                    <img src="/Files/AboutImage.png" alt="AboutImage">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->
<!-- Start FAQ Area -->
<section id="Question" class="faq-area ptb-100 bg-f4f7fe">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">سوالات متداول</span>
            <h2> سوالات متداول</h2>
            <p>اگر سوالی از ما دارید می توانید در این قسمت پاسخ آن را پیدا کنید و اگر پاسخ سوال خود را پیدا نکردید می توانید در قسمت تماس با ما آن را مطرح کنید.</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-img pr-3">
                    <img src="/Files/Question.png" alt="QuestionImage">
                </div>
            </div>

            @if (Model.Questions.Count != 0)
            {
                <div class="col-lg-6">
                    <div class="faq-accordion">
                        <ul class="accordion">
                            @foreach (var question in Model.Questions)
                            {


                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fas fa-plus"></i>
                                        @question.Questions
                                    </a>

                                    <p class="accordion-content">@question.Response</p>
                                </li>


                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="section-title">
                    <p class="MyPNot">پرسشی برای نمایش وجود ندارد وجود ندارد</p>
                </div>
            }

        </div>
    </div>
</section>


<!-- End FAQ Area -->
<!-- Start Partner Area -->
<section id="Brand" class="partner-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">برند محصولات</span>
            <h2>برند محصولات</h2>
            <p>در این قسمت می توانید برند محصولاتی که ما از آنها استفاده می کنیم را مشاهده کنید.</p>
        </div>

        <div class="row align-items-center">

            @{
                FileInfo BrandFileinfo;
                string Brandurl = "";
                int CountBrand = 0;
                string BranddirectoryPath = System.IO.Path.Combine("wwwroot", "Files", "FileBrands");
                if (!Directory.Exists(BranddirectoryPath))
                {
                    Directory.CreateDirectory(BranddirectoryPath);
                }
                foreach (string filename in Directory.GetFiles(BranddirectoryPath))
                {
                    CountBrand++;
                    BrandFileinfo = new FileInfo(filename);
                    Brandurl = "/Files/FileBrands/" + System.IO.Path.GetFileName(BrandFileinfo.FullName);

                    <div class="single-partner-item">
                        <a href="javascript:void(0)">
                            <img src="@Brandurl" alt="BrandImage">
                            <img src="@Brandurl" alt="BrandImage">
                        </a>
                    </div>

                }

                if (CountBrand == 0)
                {
                    <div class="section-title">
                        <p class="MyPNot">برندی برای نمایش وجود ندارد وجود ندارد</p>
                    </div>
                }

            }
        </div>
    </div>

    <div class="shape-img2"><img src="UserTamplate/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="UserTamplate/img/shape/3.svg" alt="image"></div>
    <div class="shape-img4"><img src="UserTamplate/img/shape/4.png" alt="image"></div>
    <div class="shape-img5"><img src="UserTamplate/img/shape/5.png" alt="image"></div>
</section>
<!-- End Partner Area -->
@section ButtonPage
    {
   
        <partial name="PartialView/ModalPartialView"/>

    <script>

        

        //Modal Service
        function ModalService(idService) {
            $.ajax({
                type: "post",
                url: "/detail/service/" + idService,
            }).done(function (result) {
                ShowModal(result, "جزئیات سرویس و ثبت درخواست")
            });
        }

        function ModalWorkSample(idWorkSample) {
            $.ajax({
                type: "post",
                url: "/detail/worksample/" + idWorkSample,
            }).done(function (result) {
                ShowModal(result, "جزئیات نمونه کار")
            });
        }

        function ModalProduct(idProduct) {
            $.ajax({
                type: "post",
                url: "/detail/product/" + idProduct,
            }).done(function (result) {
                ShowModal(result, "جزئیات کالا و ثبت درخواست")
            });


        }

    </script>

    @if (ViewBag.Message == "OkInsert")
    {
        <script>
                 var Message = "<div id='Messagesuccess'><div class='text-center'><i style='Font-Size:40px' class='text-success fa fa-check'></i><p>درخواست شما با موفقیت انجام شد</p></div></div>";

                 ShowModal(Message, "پیغام");
        </script>
    }

}

